<div class="text-sm-center m-5">
	<h1 class="display-4">Login Page</h1>
	<%= form_tag(sessions_path, method: "post") do %>
		<%= label_tag(:username, "Username", class:"m-1") %><br>
	 	<%= text_field_tag(:username) %><br>
	
	 	<%= label_tag(:password, "Password", class:"m-1") %><br>
	 	<%= password_field_tag(:password) %><br>
	
	 	<%= submit_tag("Login", class: "m-2 btn-primary") %>
	<% end %>
</div>