<h1>User Signup</h1>
<%= render "/flash" %>
<%= form_for @user do |f| %>
	Email:<%= f.text_field :email %><br>
	Username: <%= f.text_field :username %><br>
	Password: <%= f.password_field :password %><br>
	<%= f.submit "Create Account" %>
<% end %>