<h3 class="display-4 mb-3">Games</h3>
<div class="container">
  <ul class="no-bullet list-group w-75">
    <% @games.each do |game| %>
    <li id="global-item" class="ml-3 border border rounded bg-dark text-white text-sm-center"><%= game.print_item %>
      <% if !already_owned(@user, game) %>
      <%= render partial: "/logs/form", locals: {user: @user,   item: game} %>
      <% else %>
      <p><b>Already Owned</b></p>
      <% end %>
      </li><br>
    <% end %>
  </ul>
<h3 class="display-4 mb-3">Movies</h3>
  <ul class="no-bullet list-group w-75">
    <% @movies.each do |movie| %>
    <li class="ml-3 border border rounded bg-dark text-white text-sm-center"><%= movie.print_item %>
      <% if !already_owned(@user, movie) %>
      <%= render partial: "/logs/form", locals: {user: @user, item: movie} %>
      <% else %>
      <p><b>Already Owned</b></p>
    <% end %>
    </li><br>
      <% end %>
  </ul>
    <h3 class=class="display-4 mb-3">Books</h3>
  <ul class="no-bullet list-group w-75">
    <% @books.each do |book| %>
    <li class="ml-3 border border rounded bg-dark text-white text-sm-center"><%= book.print_item %>
      <% if !already_owned(@user, book) %>
      <%= render partial: "/logs/form", locals: {user: @user, item: book} %>
      <% else %>
      <p><b>Already Owned</b></p>
      <% end %>
      </li><br>
    <% end %>
  </ul>
</div>


