<h1><%= @user.username %>'s' Logs</h1>
<%= render "/flash" %>

<h3>Games</h3>
	<ul>
	<% @games.each do |game| %>
		<%= game.print_item %><br>
	<% end %>
	</ul>
<h3>Movies</h3>
	<ul>
	<% @movies.each do |movie| %>
		<%= movie.print_item %><br>
	<% end %>
	</ul>
<h3>Books</h3>
	<ul>
	<% @books.each do |book| %>
		<%= book.print_item %><br>
	<% end %>
	</ul>
<footer>
	<%= link_to "Choose From Already Created Items", items_path %>
</footer>

