<!DOCTYPE html>
<html>
  <head>
    <title>Backlogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
  	 <% if session[:id] %>
      <%= link_to "Go back to Logs", user_logs_path(find_user) %>
  	 	<%= form_tag("/sessions/#{session[:id]}", method: "DELETE", id: "logout-btn") do %>
  	 		<%= submit_tag("Logout") %>
  	 	<% end %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
