<!DOCTYPE html>
<html>
  <head>
    <title>Backlogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<% if session[:id] %>
  		<%= form_tag("/sessions/#{session[:id]}", method: "DELETE") do %>
  			<%= submit_tag("Logout") %>
  		<% end %>
  	<% end %>
    <%= yield %>
  </body>
</html>
