<!DOCTYPE html>
<html>
  <head>
    <title>Backlogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
  	 <% if session[:id] %>
      <%= link_to "Go back to Logs", user_logs_path(find_user) %>
  	 	  <%= render '/sessions/delete' %>
      <% else %>
        <%= link_to "Sign Up Here!", new_user_path %>
        <%= link_to "Go to Login Page", root_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
